build
dist
*.egg-info
RELEASE-VERSION
.eggs
VERSION
*.pyc
/tests/tahini/data/output/output_cmapfile.json
/tests/tahini/data/output_test_generate_txt.txt
/tests/tahini/data/output_flat.txt
/tests/tahini/output_generate_txt.txt
/tests/tahini/output_generate_txt_bitfields_state.txt
/tests/tahini/output_tahini_generate_csv.csv
/bin_header.h
/bin_test.bin
